apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 9145503154/backend
        imagePullPolicy: Always
        env:
        - name: DATABASE_URL
          value: mysql+pymysql://admin:Passoword#909090@database-1.cdmm2ecekk89.eu-north-1.rds.amazonaws.com:3306/authdb
        ports:
        - containerPort: 8000
