apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 9145503154/backend
        imagePullPolicy: Always
        env:
        - name: DATABASE_URL
          value: mysql+pymysql://<username>:<password>@<RDS Host>:<port>/<db user>
        ports:
        - containerPort: 8000
